<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div class="container-fluid">

    <img src="/wrench.ico" width="30" height="30" alt="">

    <a class="navbar-brand" href="/">IR Readings</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Start</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" href="/servicios">Graphics</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/mascotas">Table</a>
        </li>

      </ul>

      <ul>
        <!-- <select class="form-select" aria-label="Default select example" id="laneSelector">
          <option selected>Select Lane</option>
          <option value="Pack Lane 1">Pack Lane 1</option>
          <option value="Pack Lane 2">Pack Lane 2</option>
          <option value="Pack Lane 3">Pack Lane 3</option>
        </select> -->
      </ul>

      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

    </div>
  </div>
</nav>